<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_signup.css') }}">
</head>
<body>
    <div class="wrapper">
        <form action="/login" method="post">
            <h2>Login</h2>
            <div>
                <label for="username">아이디</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">로그인</button>
            <p>아직 계정이 없으신가요? <a href="/register">회원가입</a></p>
        </form>
    </div>

    <script type="text/javascript">
        {% if message %}
            alert("{{ message }}");
        {% endif %}
    </script>


</body>
</html>
